# Copyright 2026 Thomas Hebb
# SPDX-License-Identifier: Apache-2.0

if BOARD_GOOGLE_GOTHAM

if BT

choice AIROC_PART
        default BT_AIROC_CUSTOM
endchoice

config BT_BUF_ACL_TX_COUNT
	default 15

config BT_BUF_EVT_RX_COUNT
	default 16

config BT_BUF_ACL_TX_SIZE
	default 251

endif # BT

endif # BOARD_GOOGLE_GOTHAM
